.white {
  background-color: white;
}
.lightblue {
  background-color: rgb(0, 188, 212);
}
.blue {
  background-color: rgb(3, 169, 244);
}
.darkblue {
  background-color: rgb(33, 150, 243);
}
.lightgreen {
  background-color: lightgreen;
}
.green {
  background-color: green;
}
.darkgreen {
  background-color: darkgreen;
}

.pixel {
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
  box-sizing: border-box;
}

.pixel.current-color {
  border: 3px dashed rgb(152, 233, 39);
}
