.canvas {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
}

.canvasarea {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.clearcanvas {
  color: black;
  background: white;
  padding: 0px 2px 0px 0px;
}
