.canvas {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
}

.canvas-area {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.clear-canvas {
  color: black;
  background: lightgray;
  padding: 0px 2px 0px 0px;
  box-shadow: 1px;
  position: fixed;
  right: 0;
}
